@use 'variables' as vars;

.container {
  padding: 0 24px;
}

.container-main {
  composes: container;
  margin: 0 auto;
  margin-bottom: 88px;
  max-width: 540px;
}

.separator {
  margin: 24px -48px;
  border: none;
  border-top: 1px solid;
  border-color: hsl(252, 20%, 95%);
}
