@use 'variables' as vars;

.price-selector {
  display: grid;
  grid-template: auto auto auto / auto 1fr;
  grid-template-areas: 'a b' 'c c' 'd d';
  align-items: center;
}

.price-selector-pageviews {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 600;
  grid-area: a;
}

.price-selector-rate {
  margin-bottom: 20px;
  grid-area: b;
  display: flex;
  align-items: center;

  &-transition {
    margin-right: 4px;
    flex: 1 1 auto;
    text-align: right;
    position: relative;
  }

  span {
    vertical-align: middle;
    color: vars.$color-heading;
    font-weight: 800;
    font-size: 3em;

    // Fixes roll transition
    display: inline-block;
    right: 0;
  }
}

.price-selector-slider {
  margin-bottom: 20px;
  grid-area: c;
}

.price-selector-billing {
  grid-area: d;
  justify-self: end;

  button {
    margin: 0 12px;
  }
}
