@use 'variables' as vars;
@use 'breakpoints' as bp;

.price-selector {
  margin-top: 14px;
  display: grid;
  grid-template: auto / auto 1fr;
  grid-template-areas: 'a b' 'c c' 'd d';
  align-items: center;

  @include bp.mobile {
    grid-template-areas: 'a a' 'c c' 'b b' 'd d';
  }
}

.price-selector-pageviews {
  margin-left: -1px;
  margin-bottom: 24px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1.25px;
  grid-area: a;
}

.price-selector-rate {
  margin-right: 2px;
  margin-bottom: 24px;
  font-size: 16px;
  grid-area: b;
  display: flex;
  align-items: center;

  &-transition {
    margin-right: 9px;
    flex: 1 1 auto;
    text-align: right;
    position: relative;
  }

  span {
    vertical-align: middle;
    color: vars.$color-heading;
    font-weight: 800;
    font-size: 2.5rem;
    letter-spacing: -1px;

    // Fixes roll transition
    display: inline-block;
    right: 0;
  }
}

.price-selector-slider {
  margin: 0 2px 20px 2px;
  grid-area: c;
}

.price-selector-billing {
  margin: 20px 20px 16px 0;
  font-size: 0.8em;
  grid-area: d;
  justify-self: end;

  button {
    margin: 0 14px;
  }
}
